{{#if resume.skills.length}}
<section class="section">
	<header>
		<h2 class="section-title">Skills</h2>
	</header>
	<section id="skills">
		{{#each resume.skills}}
    <div class="item {{#if details.length}}full-width{{/if}}">
      {{> skills_basic }}
      <div class="skill-data">
			{{> skills_level }}
      <div class="subskills">
      {{#if subskills.length}}
        
        {{#each subskills}}
        <div class="subskill">
          {{> subskills_basic}}
        </div>
        {{/each}}
      {{/if}}
      </div>
      {{#if details.length}}
        {{> skills_details}}
      {{/if}}
      </div>
      {{#if keywords.length}}
        {{> skills_keywords}}
			{{/if}}

		</div>
		{{/each}}
	</section>
</section>
{{/if}}
