{{#if level}}
  <div class="level {{toLowerCase level}}">
    {{#if levelDisplay}}
      <em>{{levelDisplay}}</em>
    {{else}}
      <em>{{level}}</em>
    {{/if}}
  <div class="bar"></div>
</div>
{{/if}}
